@page "/"

<div id="wordlp" class="@(DarkMode.IsEnabled ? "dark-mode" : "")">

    <AppHeader />
        
    <main style="height: @(AppDimensions.Height)px; max-height: @(AppDimensions.Height)px;">
        <PageView />
    </main>
</div>

@code {
    [CascadingParameter] private AppDimensions AppDimensions { get; set; } = null!;
    [CascadingParameter] private DarkModeService DarkMode { get; set; } = null!;
}