header {
    padding: 1rem;
    border-top: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
    background-color: rgba(255,255,255,0.4);
}

    header h1 {
        font-weight: 700;
        font-size: 1.5rem;
    }

section {
    margin: 1rem;
    margin-top: 0;
}

    section:first-child {
        margin-top: 1rem;
    }

    section h2 {
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
    }

section#examples {
    border: 1px solid var(--slate-400);
    padding: 0.5rem;
    background: var(--slate-300);
    font-size: 14px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--slate-400);
}

p + p {
    margin-top: 0.5rem;
}

button {
    padding: 1rem 1.75rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 999px;
    background-color: var(--green);
    width: 100%;
    justify-content: center;
    color: var(--slate-100);
}

.buttons {
    width: 100%;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 20%);
}

div:not(:last-child), ul, li {
    margin-bottom: 0.5rem;
}

.text-background {
    color: var(--slate-100);
    padding: 0.1rem 0.25rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    border-radius: 4px;
}

.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}

.grey {
    background-color: var(--slate-450);
}

.modal-content {
    overflow-y: auto;
}

/* Dark Mode */
.dark-mode header {
    background-color: rgba(0,0,0,0.4);
    border-top: 2px solid var(--dark-mode-green);
    border-bottom: 2px solid var(--dark-mode-green);
}

.dark-mode section {
    color: var(--slate-300);
}

.dark-mode section#examples {
    border: 1px solid var(--slate-600);
    background: var(--slate-700);
    color: var(--slate-200);
}

.dark-mode button {
    background-color: var(--dark-mode-green);
}

.dark-mode .buttons {
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 50%);
}

.dark-mode .instructions {
    color: var(--slate-400);
}

.dark-mode .green {
    background-color: var(--dark-mode-green);
}

.dark-mode .yellow {
    background-color: var(--dark-mode-yellow);
}

.dark-mode .grey {
    background-color: var(--slate-800);
}