<header>
    <h1>Thanks for Playing!</h1>
</header>

<div class="modal-content">
    <section>
        <h2>Connect with Me</h2>
        <div class="links">
            <a class="button" href="https://www.buymeacoffee.com/erinnmclaughlin" target="_blank">
                <span class="icon"><i class="fa-solid fa-mug-hot"></i></span>
                <span>Buy me a Coffee</span>
                <span class="icon"><i class="fa-solid fa-external-link"></i></span>
            </a>

            <a class="button" href="https://github.com/erinnmclaughlin" target="_blank">
                <span class="icon"><i class="fa-brands fa-github"></i></span>
                <span>GitHub</span>
                <span class="icon"><i class="fa-solid fa-external-link"></i></span>
            </a>

            <a class="button" href="https://discordapp.com/users/erinmclaughlin#7795/" target="_blank">
                <span class="icon"><i class="fa-brands fa-discord"></i></span>
                <span>Discord</span>
                <span class="icon"><i class="fa-solid fa-external-link"></i></span>
            </a>

        </div>
    </section>
    
    <section>
        <button id="back-to-game">
            <span style="width: 0;"><i class="fa-solid fa-rotate-left"></i></span>
            <span style="flex-grow: 1; text-align: center;">Back to Game</span>
        </button>
    </section>

</div>
