* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#wordlp {
    background-color: #e2e8f0;
    color: #0f172a;
    height: 100vh;
}

#wordlp.dark-mode {
    background-color: #0f172a;
    color: #e2e8f0;
}
