:root {
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

html, body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body, #app, #wordlp {
    height: 100%;
    overflow-y: hidden;
}

#wordlp {
    background-color: var(--slate-200);
    color: var(--slate-700);
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    cursor: pointer;
}

.app-header {
    align-items: center;
    border-bottom: 1px solid var(--slate-400);
    display: flex;
    height: 40px;
    min-height: 40px;
    padding: 0rem 1.25rem;
    justify-content: space-between;
    width: 100%;
}

    .app-header > .header-start,
    .app-header > .header-end {
        display: flex;
        width: 120px;
    }

    .app-header > .header-start {
        display: none;
    }

    .app-header > .header-end {
        justify-content: flex-end;
    }

    .app-header > .app-title {
        display: flex;
    }

        .app-header > .app-title > div {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            width: 18px;
        }

    .app-header button#dark-mode-toggler {
        color: var(--slate-700);
        background: transparent;
    }

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
    width: 100%;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
    width: fit-content;
}

    .board .row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
    }

        .board .row > .cell {
            align-items: center;
            border: 2px solid var(--slate-400);
            display: flex;
            height: 62px;
            justify-content: center;
            width: 62px;
        }
            
            .board .row > .cell > span {
                font-size: 32px;
                font-weight: 600;
            }

.keyboard:focus {
    outline: none;
}

    .keyboard .row {
        display: flex;
        margin: 0 auto 8px;
        width: 100%;
    }

        .keyboard .row > .spacer {
            flex: 0.5;
        }

        .keyboard .row > button {
            background-color: var(--slate-300);
            border-radius: 8px;
            color: var(--slate-700);
            margin: 0 6px 0 0;
            height: 58px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
        }

/* Dark Mode */
#wordlp.dark-mode {
    background-color: var(--slate-900);
    color: var(--slate-300);
}

.dark-mode .app-header {
    border-color: var(--slate-600);
}

.dark-mode .app-header button#dark-mode-toggler {
    color: var(--slate-300);
}

.dark-mode .board .row > .cell {
    border-color: var(--slate-600);
}

.dark-mode .keyboard .row > button {
    background-color: var(--slate-700);
    color: var(--slate-300);
}