@import url('animations.css');

:root {
    /* Colors */
    --dark-mode-green: #538d4e;
    --yellow: #c9b458;
    --dark-mode-yellow: #b59f3b;
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-250: #d7dfe9;
    --slate-300: #cbd5e1;
    --slate-350: #b0bccd;
    --slate-400: #94a3b8;
    --slate-450: #7c8ca2;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --green: #6aaa64;

    /* Sizes */
    --header-height: 40px;
    --keyboard-height: 200px;
}

/*@media (min-width: 415px) {
    :root {
        --header-height: 65px;
    }
}
*/

* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body, #app {
    height: min(100%, 100vh);
    height: -webkit-fill-available;
    overflow: hidden;
}

button {
    background-color: transparent;
    border: none;
    color: var(--slate-700);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

/* Dark Mode */
.dark-mode button {
    color: var(--slate-300);
}