.app-header {
    align-items: center;
    border-bottom: 1px solid var(--slate-400);
    display: flex;
    height: var(--header-height);
    min-height: var(--header-height);
    padding: 2px 1rem;
    justify-content: space-between;
    box-sizing: border-box;
}

    .app-header > .header-start,
    .app-header > .header-end {
        display: flex;
        width: 120px;
        gap: 8px;
        height: 100%;
        align-items: center;
    }

    .app-header > .header-start {
        justify-content: flex-start;
    }

    .app-header > .header-end {
        justify-content: flex-end;
    }

    .app-header > .app-title {
        cursor: default;
        font-size: 18px;
        font-weight: bold;
    }

    .app-header .icon-button {
        color: var(--slate-700);
        background: transparent;
        width: 20px;
        font-size: 0.85rem;
        text-align: center;
    }

/* Dark Mode */
.dark-mode .app-header {
    border-color: var(--slate-600);
}

    .dark-mode .app-header .icon-button {
        color: var(--slate-300);
    }
