a, button {
    padding: 1rem 1.75rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 999px;
}

.icon {
    width: 0;
}

a span, button span {
    flex-grow: 1;
    text-align: center;
}

.restart-game-button {
    background-color: var(--green);
    color: var(--slate-100);
}

.view-history-button {
    background-color: var(--slate-300);
    color: var(--slate-700);
}

/* Dark Mode */
.dark-mode .restart-game-button {
    background-color: var(--dark-mode-green);
}
