.modal-background {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.modal-container {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.modal {
    width: 100%;
    max-width: 500px;
    background-color: var(--slate-200);
    border-radius: 8px;
    width: 100%;
    z-index: 10;
    margin: auto 1.25rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.modal .close {
    margin-left: auto;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-end;
    padding: 4px 2px;
}

    .modal .close button {
        height: 28px;
        width: 28px;
    }

.modal-content {
    background-color: rgba(255,255,255,0.4);
    padding: 2rem 0;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    border-top: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
}

.modal-buttons {
    padding: 2rem 1.5rem;
    display: flex;
    width: 90%;
    align-self: center;
    box-sizing: border-box;
    margin: auto;
}

.solution {
}

.solution ::deep .letters {
    gap: 10px;
}

.solution ::deep .letters div {
    height: 48px;
    width: 48px;
    border: 2px solid black inset;
}

.solution-description {
    color: var(--slate-500);
    font-style: italic;
    padding: 0 1rem;
    text-align: center;
    font-size: 0.95rem;
}


/* Dark Mode */
.dark-mode .modal-background {
    background-color: rgba(0, 0, 0, 0.8);
}

.dark-mode .modal {
    background-color: var(--slate-900);
    box-shadow: 0 0 32px 4px rgba(0,0,0,0.75);
}

.dark-mode .modal-content {
    background-color: rgba(0,0,0,0.4);
    border-top: 2px solid var(--dark-mode-green);
    border-bottom: 2px solid var(--dark-mode-green);
}

.dark-mode .solution-description {
    color: var(--slate-400);
}