@inject GameService GameService

<PageTitle>Word-LP</PageTitle>

<CascadingValue Value="GameService">
    <GameBoard Guess="@Guess" />
    @if (GameService.IsGameOver)
    {
        <div style="display: flex; height: 200px">
            <div style="display: flex; margin: auto;">
                <div style="display: flex; gap: 0.5rem; flex-direction: column;">
                    <button class="restart-game-button" type="button" @onclick="StartNewGame">
                        <span>
                            <i class="fa-solid fa-arrows-rotate" />
                        </span>
                        <span style="font-size: 1rem;">Play Again</span>
                    </button>

                    <button class="view-history-button" @onclick="() => GameService.ChangeMode(GameMode.History)">
                        View History
                    </button>
                </div>
                
            </div>
        </div>
    }
    else
    {
        <Keyboard OnKeyPress="AddLetter" OnBackspace="Backspace" OnSubmit="SubmitGuess" />
    }
    
    @if (ShowModal)
    {
        <GameOverModal OnClose="CloseModal" />
    }
    
</CascadingValue>

@code {

    private string Guess { get; set; } = string.Empty;
    private bool ShowModal { get; set; }

    public void AddLetter(char letter)
    {
        if (GameService.IsGameOver || Guess.Length >= 5)
            return;

        Guess += letter;
    }

    public void Backspace()
    {
        if (GameService.IsGameOver || Guess.Length == 0)
            return;

        Guess = Guess.Remove(Guess.Length - 1);
    }

    public void CloseModal()
    {
        ShowModal = false;
        StateHasChanged();
    }

    public async Task SubmitGuess()
    {
        if (GameService.IsGameOver || !GameService.IsValidGuess(Guess)) 
        return;

        await GameService.SubmitGuess(Guess);
        Guess = string.Empty;

        if (GameService.IsGameOver)
            ShowModal = true;
    }

    public void StartNewGame()
    {
        GameService.StartNewGame();
    }
}