@inject Game Game

<div class="board-container">
    <div class="board">
        @for (int i = 0; i < Game.MaxGuesses; i++)
        {
            var rowIndex = i;

            <div class="row">
                @for (int j = 0; j < Game.WordLength; j++)
                {
                    var letterIndex = j;

                    <div class="@GetCellCss(rowIndex, letterIndex)">
                        @if (GetCellValue(rowIndex, letterIndex) is char letter)
                        {
                            <span>@letter</span>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>


@code {

    [Parameter] public string Guess { get; set; } = string.Empty;

    private string GetCellCss(int rowIndex, int letterIndex)
    {
        List<string> classes = new() { "cell" };

        if (Game.GetGuessByIndex(rowIndex) is Guess previousGuess)
        {
            classes.Add("guessed");
            classes.Add(previousGuess.GetResultAt(letterIndex) switch
            {
                GuessResult.Match => "match",
                GuessResult.Contains => "contains",
                _ => string.Empty
            });
        }
        else if (Game.CurrentGuess == rowIndex && letterIndex < Guess.Length)
        {
            classes.Add("has-letter");
        }
        
        return string.Join(" ", classes.Where(c => !string.IsNullOrWhiteSpace(c)));
    }

    private char? GetCellValue(int rowIndex, int letterIndex)
    {
        if (Game.Guesses.ElementAtOrDefault(rowIndex) is Guess previousGuess)
            return previousGuess.Letters[letterIndex].Value;
        else if (Game.CurrentGuess == rowIndex && letterIndex < Guess.Length)
            return Guess[letterIndex];

        return null;
    }
}
