.board-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 500px;
    width: 100%;
}

.board {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    max-width: 350px;
    max-height: 420px;
    padding: 10px;
}

    .board .row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
    }

        .board .row.shake {
            animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            transform: translate3d(0, 0, 0);
        }

        .board .row > div {
            display: inline-flex;
        }

        .board .row .cell {
            align-items: center;
            border: 2px solid var(--slate-300);
            box-sizing: border-box;
            display: inline-flex;
            font-size: 2rem;
            font-weight: bold;
            justify-content: center;
            line-height: 2rem;
            vertical-align: middle;
            width: 100%;
        }

            @media (max-height: 600px) {
                .board .row .cell {
                    font-size: 1em;
                    line-height: 1em;
                }
            }

            .board .row .cell::before {
                content: "";
                display: inline-block;
                padding-bottom: 100%;
            }

            .board .row .cell.guessed {
                background-color: var(--slate-450);
                border: none;
                color: white;
            }

            .board .row .cell.match {
                background-color: var(--green);
            }

            .board .row .cell.contains {
                background-color: var(--yellow);
            }

/* Dark Mode */
.dark-mode .board .row .cell {
    border-color: var(--slate-700);
}

    .dark-mode .board .row .cell.guessed {
        background-color: var(--slate-700);
    }

        .dark-mode .board .row .cell.guessed.match {
            background-color: var(--dark-mode-green);
        }

        .dark-mode .board .row .cell.guessed.contains {
            background-color: var(--dark-mode-yellow);
        }