.modal-background {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.modal {
    background-color: var(--slate-200);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    min-height: 70%;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.modal > .modal-content {
    padding: 8px;
}

.solution {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    padding: 1rem;
}

/* Dark Mode */
.dark-mode .modal {
    background-color: var(--slate-900);
    box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.7);
}