@inject Game Game

<div style="display: flex; gap: 0.5rem; flex-direction: column; width: 100%;">

    <button class="restart-game-button" type="button" @onclick="Game.NewGame">
        <div class="icon">
            <i class="fa-solid fa-arrows-rotate" />
        </div>
        <span>Play Again</span>
    </button>

    <a class="view-history-button" href="?page=history">
        <div class="icon">
            <i class="fa-solid fa-history" />
        </div>
        <span>View History</span>
    </a>
</div>
