@inject IGamePersistence GamePersistence
@inject WordCollection WordCollection

<div class="history">
    @foreach (var result in PreviousResults)
    {
        <div class="word known">
            <div class="number">
                #@(WordCollection.GetNumber(result.Word.Value).ToString("00"))
            </div>
            <div class="letters">
                @foreach (var letter in result.Word.Value)
                {
                    <div>@letter</div>
                }
            </div>

            @if (!string.IsNullOrWhiteSpace(result.Word.Description))
            {
                 <div class="description">
                    @result.Word.Description
                </div>
            }
           
        </div>
    }
</div>


@code {

    private List<GameResult> PreviousResults { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        PreviousResults = await GamePersistence.LoadHistory();
    }
}