@inherits LayoutComponentBase

<div id="wordlp" class="@(IsDark ? "dark-mode" : "")">

    <header>
        <div class="header-start">

        </div>
        <p id="logo-text">
            @foreach(var letter in "WORDLP")
            {
                <div>@letter</div>
            }
        </p>
        <div class="header-end">
            <button id="dark-mode-toggler" @onclick="ToggleDark">
                <i class="@(IsDark? "fa-solid" : "fa-regular") fa-moon" />
            </button>
        </div>        
    </header>

    <main>
        @Body
    </main>
</div>

@code {

    private bool IsDark { get; set; }

    private void ToggleDark() => IsDark = !IsDark;

}