@inherits LayoutComponentBase

<div id="wordlp" class="@(IsDark ? "dark-mode" : "")">
    <div class="p-6 flex justify-between">
        <div>word-lp</div>
        <div>
            <button @onclick="ToggleDark">toggleDark</button>
        </div>            
    </div>

    <main class="flex flex-col flex-grow">
        <article class="p-4">
            @Body
        </article>
    </main>
</div>

@code {

    private bool IsDark { get; set; }

    private void ToggleDark() => IsDark = !IsDark;

}