@inherits LayoutComponentBase
@inject DarkModeService DarkMode
@inject GameService GameService

<div id="wordlp" class="@(DarkMode.IsEnabled ? "dark-mode" : "")">

    <header class="app-header">
        <div class="header-start">

        </div>
        <button @onclick="() => GameService.ChangeMode(GameMode.Game)" class="app-title">
            @foreach(var letter in "WORDLP")
            {
                <div>@letter</div>
            }
        </button>
        <div class="header-end">
            <button id="history-button" @onclick="() => GameService.ChangeMode(GameMode.History)">
                <i class="fa-solid fa-clock-rotate-left fa-xl" />
            </button>
            <button id="dark-mode-toggler" @onclick="() => DarkMode.Toggle()">
                <i class="@(DarkMode.IsEnabled ? "fa-solid" : "fa-regular") fa-moon fa-xl" />
            </button>
        </div>        
    </header>

    <main>
        @Body
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await DarkMode.InitializeAsync();
    }
}