@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage

<div id="wordlp" class="@(IsDark ? "dark-mode" : "")">

    <header class="app-header">
        <div class="header-start">

        </div>
        <p class="app-title">
            @foreach(var letter in "WORDLP")
            {
                <div>@letter</div>
            }
        </p>
        <div class="header-end">
            <button id="dark-mode-toggler" @onclick="ToggleDark">
                <i class="@(IsDark? "fa-solid" : "fa-regular") fa-moon fa-lg" />
            </button>
        </div>        
    </header>

    <main>
        @Body
    </main>
</div>

@code {
    private const string DarkModeKey = "wordlp-DarkMode";
    private bool IsDark { get; set; }

    private async Task ToggleDark()
    {
        IsDark = !IsDark;
        await LocalStorage.SetItemAsync(DarkModeKey, IsDark);
    }

    protected override async Task OnInitializedAsync()
    {
        if (!await LocalStorage.ContainKeyAsync(DarkModeKey))
            await LocalStorage.SetItemAsync(DarkModeKey, true);

        IsDark = await LocalStorage.GetItemAsync<bool>(DarkModeKey);
    }

}