.app-header {
    align-items: center;
    border-bottom: 1px solid var(--slate-400);
    display: flex;
    height: var(--header-height);
    min-height: 40px;
    padding: 0rem 1.25rem;
    justify-content: space-between;
}

    .app-header > .header-start,
    .app-header > .header-end {
        display: flex;
        width: 120px;
    }

    .app-header > .header-start {
        display: none;
    }

    .app-header > .header-end {
        justify-content: flex-end;
    }

    .app-header > .app-title {
        display: flex;
    }

        .app-header > .app-title > div {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            width: 18px;
        }

    .app-header button#dark-mode-toggler {
        color: var(--slate-700);
        background: transparent;
    }

main {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

/* Dark Mode */
.dark-mode .app-header {
    border-color: var(--slate-600);
}

    .dark-mode .app-header button#dark-mode-toggler {
        color: var(--slate-300);
    }