@inherits LayoutComponentBase
@inject DarkModeService DarkMode

<div id="wordlp" class="@(DarkMode.IsEnabled ? "dark-mode" : "")">

    <header class="app-header">
        <div class="header-start">

        </div>
        <a href="" class="app-title">
            @foreach(var letter in "WORDLP")
            {
                <div>@letter</div>
            }
        </a>
        <div class="header-end">
            <button id="dark-mode-toggler" @onclick="() => DarkMode.Toggle()">
                <i class="@(DarkMode.IsEnabled ? "fa-solid" : "fa-regular") fa-moon fa-lg" />
            </button>
        </div>        
    </header>

    <main>
        @Body
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await DarkMode.InitializeAsync();
    }
}