main {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    margin: 0 auto;
    width: 100%;
    align-items: center;
    overflow-y: auto;
}

.restart-game-button,
.view-history-button {
    padding: 1rem 1.75rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 999px;
}

.restart-game-button {
    background-color: var(--green);
    color: var(--slate-100);
}

.view-history-button {
    background-color: var(--slate-300);
    color: var(--slate-700);
}

/* Dark Mode */
.dark-mode .restart-game-button {
    background-color: var(--dark-mode-green);
}