@page "/"
@inject GameService GameService

<PageTitle>Word-LP</PageTitle>

<CascadingValue Value="GameService">
    <GameBoard Guess="@Guess" />
    @if (GameService.GameOver)
    {
        <div style="display: flex; height: 200px">
            <div style="margin: 0 auto;">
                <button class="restart-game-button" type="button" @onclick="StartNewGame">
                    <span>
                        <i class="fa-solid fa-arrows-rotate" />
                    </span>
                    <span style="font-size: 1rem;">Play Again</span>
                </button>
            </div>
        </div>
    }
    else
    {
        <Keyboard OnKeyPress="AddLetter" OnBackspace="Backspace" OnSubmit="SubmitGuess" />
    }
    
    @if (ShowModal)
    {
        <GameOverModal OnClose="CloseModal" />
    }
    
</CascadingValue>

@code {

    private string Guess { get; set; } = string.Empty;
    private bool ShowModal { get; set; }

    public void AddLetter(char letter)
    {
        if (GameService.GameOver || Guess.Length >= 5)
            return;

        Guess += letter;
    }

    public void Backspace()
    {
        if (GameService.GameOver || Guess.Length == 0)
            return;

        Guess = Guess.Remove(Guess.Length - 1);
    }

    public void CloseModal()
    {
        ShowModal = false;
        StateHasChanged();
    }

    public void SubmitGuess()
    {
        if (GameService.GameOver || !GameService.IsValidGuess(Guess)) return;
        GameService.SubmitGuess(Guess);
        Guess = string.Empty;

        if (GameService.GameOver)
            ShowModal = true;
    }

    public void StartNewGame()
    {
        GameService.StartNewGame();
    }
}